<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="tables">Cameras</h1>
    </div>

    <div class="bs-component">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Twilio SID</th>
            <th>Token</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="camera in cameras" ng-class="{'text-success': cameraAdded.info.id === camera.info.id}">
            <td>{{ camera.id }}</td>
            <td>{{ camera.info.name }}</td>
            <td>{{ camera.info.contact_number }}</td>
            <td>{{ camera.info.twilio_sim_sid }}</td>
            <td>{{ camera.info.token }}</td>
            <td>{{ camera.info.created_at }}</td>
            <td>
                <a href="#!/cameras/{{ camera.info.id }}/edit" class="btn btn-xs btn-success">Edit</a>&nbsp;
                <button ng-click="deleteCamera(camera.id)" class="btn btn-xs btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div><!-- /example -->
  </div>
  <div class="divider col-lg-10 bg-primary"></div>
</div>

<a class="btn btn-primary add-camera-show">Add New Camera</a>

<div class="row add-camera">
  <div class="col-lg-6">
    <form class="form-horizontal" ng-submit="addCamera()">
      <fieldset>
        <legend>New camera</legend>

        <div class="form-group">
          <label for="id" class="col-lg-2 control-label">Id</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="newCamera.id" id="id" placeholder="ID">
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="newCamera.name" id="name" placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <label for="contact_number" class="col-lg-2 control-label">Contact Number</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="newCamera.contact_number" id="contact_number" placeholder="4123620201">
          </div>
        </div>

        <div class="form-group">
          <label for="twilio_sim_sid" class="col-lg-2 control-label">Twilio SIM SID</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="newCamera.twilio_sim_sid" id="twilio_sim_sid" placeholder="Twilio SIM SID">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default add-camera-cancel">Cancel</button>
          </div>
        </div>

        <p class="text-warning" id="add-camera-failed"></p>
      </fieldset>
    </form>
  </div>
</div>
