<h1>Active Cameras</h1>

<h3 ng-hide="cameras.length" class="no-cameras">We aren't tracking any cameras right now.</h3>

<div ng-repeat="camera in cameras" class="jumbotron camera camera{{ camera.info.id }}">
  <h3>
    {{ camera.info.name }}
    <a href="/camera/{{ camera.info.id }}">(see past images)</a>
  </h3>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 img-parent">
      <img class="camera-feed" ng-src="/imgs/camera_photos/{{ camera.motion.image_name }}" />
    </div>
  </div>
  <div class="row motion_stats">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="alert alert-dismissible alert-success">
        <strong>No People detected</strong>
      </div>
    </div>
  </div>
</div>
