<h1>Active Cameras</h1>

<h3 ng-show="noCamera()" class="ng-show">We aren't tracking any cameras right now.</h3>

<div ng-repeat="camera in cameras" class="jumbotron camera camera{{ camera.info.id }}">
  <h3>
    {{ camera.info.name }}
    <a href="#!/cameras/{{ camera.info.id }}">(Browse archived alarms)</a>
    <small><input type="checkbox" ng-model="camera.control.preview.enabled" ng-change="switchPreview(camera.info.id)">Preview</small>
    <small><input type="checkbox" ng-model="camera.control.arm.enabled" ng-change="switchArm(camera.info.id)">Armed</small>
  </h3>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 img-parent">
      <img class="camera-feed" ng-src="{{ camera.snapshot.img_url }}" />
    </div>
  </div>
  <div class="row motion_stats">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="alert alert-success" ng-if="camera.control.alarm.id === camera.control.arm.responded_alarm">
        <strong>No Active Alarm</strong>
      </div>
      <button class="alert alert-danger" ng-if="camera.control.alarm.id !== camera.control.arm.responded_alarm" ng-click="disarm(camera.info.id)">
        <strong>Dismiss Alarm</strong>
      </button>
    </div>
  </div>
</div>
