<html>
  <head>
    <title>Security Camera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/imgs/dl_icon-180.png">
    <link href="/imgs/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/css/main.css" media="all" rel="stylesheet">
  </head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Remote Monitor</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="/cameras/">Cameras</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container container-content">
    <%- body %>
  </div>

  <script media="all" src="/js/jquery.min.js"></script>
  <script media="all" src="/socket.io/socket.io.js"></script>
  <script media="all" src="/js/bootstrap.js"></script>
  <script media="all" src="/js/moment.min.js"></script>
  <script media="all" src="/js/chart.min.js"></script>
  <script media="all" src="/js/main.js"></script>
  <script type="text/javascript">
    Main.init();
  </script>
</body>
</html>
