@import 'reset';
@import 'bourbon';
@import 'bootstrap';

// Colors
$white: #FFFFFF;
$darkest-grey: #222222;
$dark-grey: #3d3d3d;
$grey: #464545;
$blue: #3498db;
$purple: #454DE1;
$green: #00bc8c;
$red: #e74c3c;
$peach: #E78F3C;
$orange: #f39c12;
//

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.camera {
  padding-top: 20px;
  padding-bottom: 20px;
  h3 {
    a {
      font-size: 15px;
    }
  }
  .motion_stats {
    margin-top: 20px;
    .panel-body {
      text-align: center;
    }
  }
}

.past_images {
  img {
    width: 100%;
  }
}

.add-camera-show {
  margin-top: 40px;
}

.add-camera {
  margin-top: 40px;
  display: none;
}

.camera-feed {
  display:  block;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
}
